<p>dashboard works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 offser-md-3">
            <form>
                <div class="form-group">
                <input type="text" placeholder="Enter Firstname" style=" width:25%" class="form-control">
                <input type="password" placeholder="password" style=" width:25%">
                <button type="submit">Save</button>
                 </div>
            </form>
        </div>
    </div>
</div>
<div class="form">
    <form>
        <input type="password" placeholder="password" style=" width:25%">
        <button type="submit">Save</button>
    </form>
</div>